.name {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.seg {
    cursor: pointer;
    background-color: rgba(255, 251, 0, 0.1);
}

.illustration {
    border: 2px dashed gray;
    text-align: center;
    padding-top: 1rem;
}

tei-gap::before {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 1rem;
    color: gray;
    content: 'gap';
}

tei-figure::before {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 1rem;
    color: gray;
    content: 'illustration';
}

tei-signed::before {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: gray;
    content: 'signature';
}

tei-figure {
    margin: 1rem;
}

tei-desc {
    font-style: italic;
    color: gray;
}

tei-sourcedesc {
    display: block;
}

tei-head {
    font-size: 1.5em;
}

tei-div {
    display: block;
}

tei-text {
    line-height: 1.5rem;
}

tei-hi[rendition="#b"] {
    font-weight: bold;
}

tei-hi[rendition="#c"] {
    display: block;
    text-align: center;
}

tei-hi[rendition="#et"] {
    display: block;
    margin-left: 2em;
    text-indent: 0;
}

tei-hi[rendition="#f"] {
    border: 1px dotted silver;
}

tei-hi[rendition="#fr"] {
    border: 1px dotted silver;
}

tei-hi[rendition="#g"] {
    letter-spacing: 0.125em;
}

tei-hi[rendition="#i"] {
    font-style: italic;
}

tei-hi[rendition="#in"] {
    font-size: 150%;
}

tei-hi[rendition="#k"] {
    font-variant: small-caps;
}

tei-hi[rendition="#right"] {
    display: block;
    text-align: right;
}

tei-hi[rendition="#sub"] {
    vertical-align: sub;
    font-size: .7em;
}

tei-hi[rendition="#sup"] {
    vertical-align: super;
    font-size: .7em;
}

tei-hi[rendition="#u"] {
    text-decoration: underline;
}

tei-hi[rendition="#uu"] {
    border-bottom: double 3px #000;
}

tei-hi[rendition="#s"] {
    text-decoration: line-through;
}

tei-hi[rendition="#et2"] {
    display: block;
    margin-left: 4em;
    text-indent: 0;
}

tei-hi[rendition="#et3"] {
    display: block;
    margin-left: 6em;
    text-indent: 0;
}

tei-hi[rendition="#smaller"] {
    font-size: smaller;
}

tei-hi[rendition="#larger"] {
    font-size: larger;
}

tei-lb:before {
    content: '\A';
    white-space: pre;
}