# Next.js
frontend/.next/
frontend/out/
frontend/node_modules/
frontend/public/api/
frontend/tsconfig.tsbuildinfo

# OS
.DS_Store

topic-analysis/result/ad000.xml
topic-analysis/result/ad001.xml
topic-analysis/result/ad002.xml
topic-analysis/result/ad003.xml
topic-analysis/result/ad004.xml
topic-analysis/result/ad005.xml
topic-analysis/result/ad006.xml
topic-analysis/result/ad007.xml
topic-analysis/result/ad008.xml
topic-analysis/result/ad009.xml
topic-analysis/result/ad010.xml
topic-analysis/result/ad011.xml
topic-analysis/result/ad012.xml
topic-analysis/result/ad013.xml
topic-analysis/result/ad014.xml
topic-analysis/result/ad015.xml
topic-analysis/result/ad016.xml
topic-analysis/result/ad017.xml
topic-analysis/result/ad018.xml
topic-analysis/result/ad019.xml
topic-analysis/result/ad020.xml
topic-analysis/result/ad021.xml
topic-analysis/result/ad022.xml
topic-analysis/result/ad023.xml
topic-analysis/result/ad024.xml
topic-analysis/result/ad025.xml
topic-analysis/result/ad026.xml
topic-analysis/result/ad027.xml
topic-analysis/result/ad028.xml
topic-analysis/result/ad029.xml
topic-analysis/result/ad030.xml
topic-analysis/result/ad031.xml
topic-analysis/result/ad032.xml
topic-analysis/result/ad033.xml
topic-analysis/result/ad034.xml
topic-analysis/result/ad035.xml
topic-analysis/result/ad036.xml
topic-analysis/result/ad037.xml
